@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
:root{
    --bg_card: #FD6644;
    --bg_card-orange:#FFB342;
    --font_bangers:'Bangers', cursive;
    --bg_dark:#485461;
    --bg_img-color:linear-gradient(315deg, #485461 0%, #28313b 74%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    display: grid;
    place-items: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'MedievalSharp', cursive;
  
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.gc{
    padding: 10px;
    width: 100vw;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
   
   
    
 
}

.gc--pagestyles{
    display: grid;
    grid-template-rows: repeat(4,auto);
    place-items: center;
    gap: 2em;
    
}

#first-page{
    margin-top: .3em;
   height: 95vh;
}


.gc__track-container{
    position: relative;
    height: 100%;
    width: 80%;
    max-width: 400px;
    overflow:hidden;
    border-radius: 1em;
    aspect-ratio: 1/1;
}

.track{
    position:relative;
    height: 100%;
    transition: all 200ms ease-in-out;
}


.gc__title{
    text-align: center;
    color: white;
    font-size: clamp(1.5rem,3vw,3rem);
    
}


.gc__cardcontainer--active{
  display: flex;
  gap: .5em;
  width: 80%;
  max-width: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
  
}

.btn_container{
    display: flex;
    gap: 3em;
    align-self: flex-start;
    justify-content: center;
    height: 2em;
    width: 50%;
}

#rightBtn{
background: none;
border: none;
}
#leftBtn{
    background: none;
    border: none;
   
} 
.fa-solid{
    color: white;
    font-size: 2em;
    cursor: pointer;
}


/* CARD STYLES */

.gc__card{
    position: absolute;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  
   
}

.gc__card--active{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    border-radius: 1em;
    padding-block: 1em;
}

.gc__card--styles{
    font-family: 'Crete Round', serif;
    color:white;
    border-radius: 1em;
    background: #231d24;
    box-shadow: 0px 0px 40px #fff;
    width: 100%;
    top: 0;
    bottom: 0;
}

.gc-hover{
    transition: all 200ms ease-in-out;
}

.gc-hover:hover{
    transform: scale(1.05);
}
/* .gc__card--styles::after{
    content: '';
    position: absolute;
    left: 15%;
    bottom: 27%;
    height: 3px;
    width: 70%;
    background: white;
} */


.image-holder{
    position: relative;
    margin-top: 1.3em;
    display: flex;
    justify-content: center;
    width: 46%;
    aspect-ratio: 1/1;
    align-items: flex-start;
    background-color: #FFF;
    border-radius: 50%;
}

.img{
    position: absolute;
    top: -1.3em;
    width: 95%;
}

.info-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin-block: 0 1.2em;
    font-size: 1.3em;
}

.level{
    position: relative;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    margin-bottom: 1em;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: .7em;
}



.level::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.6em;
    width: 100%;
    height: 3px;
    background-color: white;
}


.card__name{
    font-family: var(--font_bangers);
    font-size: 1.3em;
    letter-spacing: 4px;
}

.descriptor{
    font-family: var(--font_bangers);
    font-size: 0.8em;
    letter-spacing: 4px;
}

.img-battle{
    margin-block: 1em;
    background-color: black;
    width: 32%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.stats-container{
    position: absolute;
    width: 100%;
    height: 50%;
    gap: .3em;
    font-family: var(--font_bangers);
    transform: translateY(193%);
    background-color: #df5353;
    transition: all 500ms ease-in-out;
}


/* .stats-container::before{
    content: 'STATS';
    position: absolute;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
    top: -0.8em;
    left: 50%;
    transform: translateX(-55%);
} */

.stats-appear{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1000ms ease-in-out;

}

.transform{
    transform:translateY(100%);
}

.stats{
    display: flex;
    width: 80%;
    margin-top: 3em;
    font-size: .8em;
    gap: 2em;
}


.stats-btn{
    position: absolute;
    right: 50%;
    font-size: 1.1em;
    top: -1.4em;
    letter-spacing: 4px;
    transform: translateX(50%);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.lined.thick{
    border:solid 7px #41403E;
}

.heart{
    position: relative;
    color: black;
    background-color: white;
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: .5em 0 .5em 0;
    transform:rotateZ(-45deg);

   
}
.heart::before{
    content: '';
    position: absolute;
    top: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50% 50% 0 0;
    transform: translateY(-100%);
}

.heart::after{
    content: '';
    position: absolute;
    right: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50% 50% 0 0;
    transform: translateX(100%) rotateZ(90deg);
}

.straighten{
    position: absolute;
    bottom: 4px;
    left: 6px;
    font-size: .9em;
    transform: rotateZ(45deg);
    z-index: 2;
}

.straighten::after{
    content: 'hp';
    position: absolute;
    color: white;
    font-family: var(--font_bangers);
    top: -1.6em;
    letter-spacing: 1px;
    left: 4px;
}

.rotate{
    transform:rotateZ(135deg) translateX(-50%);
}
.opacity-zero{
    opacity: 0%;
}

.exp-bar-container{
    position: relative;
    width: 80%;
    height: 12px;
    background-color: black;
    border: 2px solid goldenrod;
    border-radius: 1em;
    bottom: .5em;
   
}

.exp-bar-container::before{
    content: "EXP";
    position: absolute;
    font-family: var(--font_bangers);
    letter-spacing: 2px;
    top: -1.6em;
    left:50%;
    transform:translateX(-50%);
}
.exp-bar{
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 1em;
    background: rgb(250, 233, 77);
}

.threshold{
    position: absolute;
    right: -1em;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: var(--font_bangers);
}

.moves-container{
    display: flex;
    width: 80%;
    font-size: .8em;
    flex-direction: column;
    font-family: var(--font_bangers);
}

.moves-title{
    text-align: center;
    letter-spacing: 3px;
}


.moves-select-page{
    display: flex;
    flex-direction: column;
    font-size: .9em;
   
}

.flex-row{
    display: flex;
    
}

.move-stats-select{
    display: flex;
     width: 50%;
    margin-left: auto;
    justify-content: end;
    align-items: flex-start;
}



.battle-menu{
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
   
}

.tab-container{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: end;
    position: absolute;
    gap: .5em;
    top: 14%;
    right: 0;
    width: 15%;
    min-width: 30px;
}

.tab{
    box-shadow: 0px 0px 5px 1px #fff;
    border-radius: 1em 0 0 1em;
    padding: .3em .6em;
    cursor: pointer;
}



.moves-battle-page{
    flex-direction: column;
    width: 80%;
    color:black;
}

.resources-battle-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 80%;
    padding-bottom: 15px;
}

.magic-battle-page{
    position: absolute;
    margin-inline: auto;
    width: 80%;
    padding-bottom: 15px;
 
}


.option{
    position: relative;
    color: white;
    margin-top: .1em;
    width: 100%;
}

.option-battle{
    position: relative;
    color: white;
    margin-top: .8em;
    width: 100%;
    
}

.option--flex{
    display: flex;
    padding-inline:3px;
    padding-bottom: 1.2em;
    flex-direction: column;
    border-radius: .6em;
    width: 100%;
}



.move-info{
    position: relative;
    font-family: 'Crete Round';
    font-size: .7em;
    width: 100%;
}

.move-stats{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .2em;
    right: .4em;
    bottom: 0;
    font-size: .8em;
}



.dmg-icon{
    width: 5%;
}

.dmg-icon-select{
    width: 13%;
    align-self: center;
}
.margin-l{
    margin-left: .5em;
}
#battle-dialogue{
    position: fixed;
    display: grid;
    place-items: center;
    top: 0;
    z-index: 100;
    padding-inline: 1em;
    text-align: center;
    width: 80%;
    height: 5em;
    background-color: white;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 0 0 3px 5px blue,;
}



@media (min-width:400px){
    .info-container{
        font-size: 1.3em;
        margin-top: .2em;
    }

    .stats-btn{
        font-size: 1.4em;
    }
    .stats{
        font-size: 1.2em;
    }

    .moves-select-page{
        font-size: 1.2em;
    }
    
}

@media (min-width:900px){


    .gc--pagestyles{
        gap: 2em;
  
    }
    .gc__cardcontainer{
        flex-direction: row;
        align-items: start;
        width: 100%;
    }

    .gc__cardcontainer--active{
        flex-direction: row;
        gap: 3em;
        width: 100%;
        max-width: 1400px;
        justify-content: center;
        
    }

    .img-battle{
        width: 40%;
    }
    .moves-select-page{
        font-size: 1.1em;
        
    }
    
    .option--flex{
        padding-bottom: 25px;
    }
    #first-page{
        margin-top: 3em;
    }
    
    #second-page{
        justify-content: center;
        height: 100vh;

    }

    .info-container{
        font-size: 1.1em;
        margin-top: 1em;
    }

    .moves-battle-page{
        display: flex;
        font-size: 1.3em;
        gap: .5em;
    }
   
    .resources-battle-page{
        font-size: 1.3em;
        gap:.5em;
    }

    .moves-battle-page > * {
        padding:.5em .2em 1.2em;
    }

    .card__name{
        font-size: 2.6em;
    }

    .descriptor{
        font-size: 1em;
    }
    .hp-number{
        font-size: 1.4em;
    }

    .stats-btn{
        font-size: 2em;
    }
    
}


.gc--white{
    color: white;
}

.nav-buttons_container{
    display: flex;
    margin-top: 1em;
    gap: 5em;
    position: relative;

}

.bottom{
    bottom: 5em;
}

#continue{
    position: relative;
    align-self: flex-start;
    padding: 1em 1.5em;
    height: fit-content;
}


.selected{
    z-index: 3;
    background-color: rgb(14, 129, 167);
}

.hidden{
    visibility: hidden;
}
.bd{
    transition: all 300ms ease-in-out;
    transform: translateY(-100%);
}

.end-img{
    width: 60%;
}
.translate{
    transform: translateY(0%);
}

.bar-container{
    height: 6px;
    width: 70%;
    margin-bottom: 5px;
    border: 1px solid black;
    overflow: hidden;
    
}
.bar{
    display: block;
    border-radius: 0 2em 2em 0;
    height: 100%;
    transition: 600ms all ease-in-out;
}

.blue{
    background: rgb(2, 136, 194);
}
.green{
    background: rgb(1, 118, 21);
}

.orange{
    background: orange;
}

.red{
    background: #bf0000;
}

.number{
    position: relative;
    color: white;
    font-size: .8em;
}

.gc__msgcontainer{
    display: flex;
    width: 50%;
    gap: 6em;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.play-again{
    padding: .6em 1.2em;
}

#end-pg{
    align-items: start;
    height: 100vh;
}

.endmessage{
    text-align: center;
    font-size: clamp(2.5rem,4vw,5rem);
    color: white;
}

.flex{
    display:flex;
    gap: 1em;
}

.flex > * {
    width: 75px;
    padding: .2em;
}



/* Map page */

#map-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 100vh;
    background: var(--bg_dark);
    background-image: var(--bg_img-color);

}

.map{ 
    width: 100%;
}

.circle_container{
    display: flex;
    justify-content: center;
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    padding: 1em;
    flex-flow: row wrap;
    margin-inline: auto;
    gap: 2em;
    width: 80%;
    max-width: 700px;
    border-radius: 1.5em;
}

.circle{
    position: relative;
    width: 100%;
    max-width: 60px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 3;
}


.lock-number{
    position: absolute;
    display: grid;
    place-items: center;
    top:50%;
    font-size: 12px;
    width: 20px;
    border-radius: 50%;
    background: white;
    aspect-ratio: 1/1;
}

 .open{
    cursor: pointer;
}

.complete{
    background: rgb(92, 196, 92);
}

@keyframes glow {
    0%{
        box-shadow: 0 0 0 0;
        transform: scale(1);
    }

    50%{
        box-shadow: 0px 0px 15px #fff;
        transform: scale(1.2);
    }

    100%{
        box-shadow: 0 0 0 0;
        transform: scale(1);
    }
    
}


.lock-img{
    width: 100%;
    object-fit: cover;
}

.selected-lock{
    background:var(--bg_card);
    animation: glow 2s ease-in-out infinite;
}

#start-game{
    position: relative;
    padding: .5em;
    height: fit-content;

}

.progress{
    display: flex;
    flex-direction: column;
    color: white;
}

.progress > * {
    width: 100%;
}




@media (min-width:700px) {
    .circle{
        max-width: 100px;
    }

    .lock-number{
        font-size: 20px;
        width: 30px;
    }
}


.footer { 
    position:fixed; 
    display:Flex;
    transition: all 200ms ease-in-out;
    justify-content: space-evenly;
    transform:translateY(100%);
    font-size:12px; 
    gap:12px;
    bottom: 0;
    width:100vw;
    padding:1rem;
    background-color: white;
    z-index: 10;
}



.show-links{
    position: absolute;
    padding:.5rem; 
    top:-3rem;
    font-size: 1rem;
    cursor:pointer;
}

.show { 
    transform:translateY(0)
}